
@{
    ViewData["Title"] = "Acercade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr>

</hr>
<hr>

</hr>
<section class="content mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card card-custom p-4 mb-4">
                    <h2 class="text-center mb-4">Sobre Nosotros</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-body">
                                <p><i class="fas fa-university fa-2x mr-2"></i> Con nuestra amplia gama de cursos, puedes aprender nuevas habilidades, mejorar en tu campo profesional o explorar áreas de interés personal.</p>
                                <p><i class="fas fa-chalkboard-teacher fa-2x mr-2"></i> Nuestros instructores expertos están comprometidos a brindarte una experiencia de aprendizaje enriquecedora y efectiva.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <p><i class="fas fa-user-graduate fa-2x mr-2"></i> Únete a nuestra comunidad educativa y comienza tu viaje hacia el conocimiento y el desarrollo personal!</p>
                                <p><i class="fas fa-user-friends fa-2x mr-2"></i> Conéctate con otros estudiantes y expertos en tu área de interés.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center mb-4">
                <h3>Nuestros programadores</h3>
            </div>
            <div class="col-lg-6">
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <i class="fas fa-user-graduate fa-3x mb-2 text-primary"></i>
                        <h4>Raquel Cuéllar</h4>
                        <p class="text-muted">Estudiante de Informática</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <i class="fas fa-user-graduate fa-3x mb-2 text-primary"></i>
                        <h4>Jonathan López</h4>
                        <p class="text-muted">Estudiante de Informática</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>