@{
    ViewData["Title"] = "Home Page";
}

    <!-- Sección del héroe -->
    <section id="hero" class="d-flex align-items-center py-5 mt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="card p-4 m-4">
                        <div class="card-body">
                            <h1 class="display-3 text-primary">Lectorium <i class="fas fa-book"></i></h1> 
                            <h2 class="card-subtitle my-4 h4">Tu biblioteca en línea a un clic</h2> 
                            <a asp-controller="Movimientos" asp-action="Prestamos" class="btn btn-primary btn-lg mt-4">Empezar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
