@{
    ViewData["Title"] = "Lector";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Estados</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Estados">Home</a></li>
                    <li class="breadcrumb-item active">Roles</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="card">
        <div class="card-header bg-primary">
            <h3 class="card-title">Agregar Estado&nbsp&nbsp</h3><a data-toggle="modal" data-target="#AdEstado" role="button"><i class="fas fa-plus-circle"></i></a>
        </div>
        <div class="card-body row">
            <div class="table-responsive px-2">
                <div class="row justify-content-center align-items-center minh=100">@ViewBag.msg</div>
                <table id="tbl" class="table-bordered table-striped table-sm" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Estado</th>
                            <th>Descripción</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @while (ViewBag.query.Read())
                        {
                            <tr>
                                <td>@ViewBag.query.GetValue(ViewBag.query.GetOrdinal("estado"))</td>
                                <td>@ViewBag.query.GetValue(ViewBag.query.GetOrdinal("descripcion"))</td>
                                <td style="text-align:center"><a class="btn btn-outline-primary btn-xs" data-toggle="modal" data-target="#modificarModal" role="button" onclick="modUser()" data-placement="top" title="Modificar datos" style="width:25px"><i class="fas fa-pen"></i></a></td>
                                <td style="text-align:center"><a class="btn btn-outline-primary btn-xs" data-toggle="modal" data-target="#passwordModal" role="button" onclick="passUser()" data-placement="top" title="Reiniciar contraseña" style="width:25px"><i class="fas fa-lock"></i></a></td>
                            </tr>
                        }
                    </tbody>
                </table>
                @{
                    ViewBag.query.Close();
                }
            </div>
        </div>
    </div>
    </div>
</section>

<div class="modal fade" id="AdEstado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <form method="POST" asp-controller="Mantenimiento" asp-action="AgregarEstado">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar Estado</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Campos -->
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-6">
                                <label for="estado">Estado</label>
                                <input autofocus class="form-control" id="estado" name="estado" type="text" style="text-transform: lowercase;" placeholder="ejemplo: Prestado" required />
                            </div>
                            <div class="col-md-6">
                                <label for="descripcion">Descripción</label>
                                <input class="form-control" id="descripcion" name="descripcion" type="text" required />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </form>
        </div>
    </div>
</div>