@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* Estilos para el modo oscuro */

body {
    font-family: 'Poppins', sans-serif;
    /*background: #ececec;*/
}
/*------------ Login container ------------*/
.box-area {
    width: 930px;
}
/*------------ Right box ------------*/
.right-box {
    padding: 40px 30px 40px 40px;
}
/*------------ Custom Placeholder ------------*/
::placeholder {
    font-size: 16px;
    color: black;
}

.rounded-4 {
    border-radius: 20px;
}

.rounded-5 {
    border-radius: 30px;
}

/* Estilos para los bordes en modo oscuro */
/*.my-login-page {*/
    /* Agrega un color de fondo para el modo oscuro */
    /*background-color: #1f1f1f;*/ /* Este color debe contrastar con el color del texto */
    /*color: #fff;*/ /* Color de texto para el modo oscuro */
/*}*/

/* Ajustes para los bordes en los formularios */
/*.form-control {
    border-color: #ddd;*/ /* Color de borde para el modo claro */
/*}*/

/* Estilo para el botón de Login */
/*.btn-primary {
    background-color: #007bff;*/ /* Color azul para el modo claro */
    /*border-color: #007bff;
}*/

/* Estilo para el botón Regístrate con Google */
/*.btn-light {
    background-color: #f8f9fa;*/ /* Color blanco para el modo claro */
    /*border-color: #f8f9fa;
}*/

/* Ajustes para el color del texto en modo oscuro */
/*.text-secondary {
    color: #ccc;*/ /* Color de texto secundario en modo oscuro */
/*}*/
/*------------ For small screens------------*/
@media only screen and (max-width: 768px) {
    .box-area {
        margin: 0 10px;
    }

    .left-box {
        height: 100px;
        overflow: hidden;
    }

    .right-box {
        padding: 20px;
    }
}

